<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beautiful of Japan</title>
    <link rel="icon" href="../img/title_logo.avif" type="image/x-icon" />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/index-style.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Montserrat:wght@400;700&display=swap"
        rel="stylesheet" />
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" />
</head>

<body>
    <!-- Header Start -->
    <header class="header p-3 position-absolute start-0 top-0 end-0">
        <div class="d-flex fixed-top justify-content-between align-items-center px-5 navbar-expand-md"
            style="height: 100px">
            <a href="/" class="text-decoration-none text-white fs-1 fw-bold">VTOUR</a>

            <div>
                <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                        class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                    </svg>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav justify-content-between fs-5" style="width: 450px; height: 100%">
                        <li class="nav-item">
                            <a class="nav-link text-white fw-bold point__nav-link" href="/"
                                style="--pointer-color: white">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white point__nav-link" href="/destinations"
                                style="--pointer-color: white">Destinations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white point__nav-link" href="/interests"
                                style="--pointer-color: white">Interests</a>
                        </li>
                        <li class="nav-item">
                            <img src="../img/vertical_line.png" alt="" style="height: 45px; width: 45px;">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/log-out"><i class="bi bi-arrow-right-circle-fill"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Flyout Navigation Start -->
    <nav class="collapse navbar-collapse dropdown-nav" id="navbar">
        <div class="dropdown-nav__container container-xxl d-flex align-items-center">
            <div class="row align-items-start">
                <div class="col-12">
                    <a href="/" class="row text-decoration-none">
                        <h1 class="display-4 text-white">Home</h1>
                    </a>
                </div>
                <div class="col-12 mt-4">
                    <a href="/destinations" class="row text-decoration-none">
                        <h1 class="display-4 text-white">Destinations</h1>
                    </a>
                </div>
                <div class="col-12 mt-4">
                    <a href="/interests" class="row text-decoration-none">
                        <h1 class="display-4 text-white">Interests</h1>
                    </a>
                </div>
                <div class="col-12 mt-4">
                    <a href="/log-out" class="row text-decoration-none">
                      <h1 class="display-4 text-white">Sign Out</h1>
                    </a>
                  </div>
                </div>
          
                <button class="navbar-toggler dropdown-nav__closeNavBtn" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-x"
                    viewBox="0 0 16 16">
                    <path
                      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                  </svg>
                </button>
        </div>
    </nav>
    <!-- Flyout Navigation End -->

    <!-- Hero Start -->
    <section class="hero" style="background: #101224">

        <video id="video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" loading="lazy"
            class="hero__video">
            <source src="../../videos/nature_header.mp4" type="video/mp4" />
        </video>

        <div class="hero__content h-100 w-100 container-custom position-relative">
            <div class="d-flex h-100 align-items-center justify-content-center hero__content-width">
                <div class="text-white mb-4">
                    <h1 class="fw-bold mb-0 text-center display-1">
                        Best Museums in Japan
                    </h1>
                    <a href="#scroll-down"
                        class="hero__scroll-btn mt-4 d-flex flex-column align-items-center justify-content--center text-light"
                        style="text-decoration: none;">
                        Explore <i class="bi bi-arrow-down-short"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero End -->

    <!-- Section One Start -->
    <section class="steps container-custom">
        <a id="scroll-down"></a>

        <div class="row">
            <div class="col-12 col-sm-6 d-md-flex justify-content-md-ceneter">
                <img src="../../img/nature_01.jpg" class="img-fluid pb-4 steps__section-thumbnail"
                    width="553" height="746" loading="lazy">
            </div>

            <div class="col-12 col-sm-6 align-self-center justify-content-ceneter">
                <div class="steps__content-width">
                    <h1 class="h2 mb-4 fw-bold">Mount Aso</h1>
                    <p class="text-secondary">Aso</p>
                    <p class="mb-4">
                        Mount Aso lies in the center of Kyushu and is part of the Aso-Kuju National Park. Its caldera is one of the largest in the world with a diameter of about 25 kilometers and a circumference of over 100 kilometers. Nakadake Crater at the center of the caldera is easily visited but not always accessible due to volcanic activities.                     </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 d-md-flex justify-content-md-ceneter">
                <img src="../../img/nature_02.jpg" class="img-fluid pb-4 steps__section-thumbnail"
                    width="553" height="746" loading="lazy">
            </div>
            
            <div class="col-12 col-sm-6 align-self-center justify-content-ceneter">
                <div class="steps__content-width">
                    <h1 class="h2 mb-4 fw-bold">Takaosan</h1>
                    <p class="text-secondary">Tokyo</p>
                    <p class="mb-4">
                        Mount Takao is one of the closest natural recreation areas to central Tokyo offering beautiful scenery, an interesting temple and attractive hiking opportunities. Visitors can choose to hike all the way up to the top of the mountain or take the cablecar or chair lift halfway up.                     </p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 col-sm-6 d-md-flex justify-content-md-ceneter">
                <img src="../../img/nature_03.jpg" class="img-fluid pb-4 steps__section-thumbnail"
                    width="553" height="746" loading="lazy">
            </div>

            <div class="col-12 col-sm-6 align-self-center justify-content-ceneter">
                <div class="steps__content-width">
                    <h1 class="h2 mb-4 fw-bold">Mount Fuji</h1>
                    <p class="text-secondary">Yamanashi and Shizuoka prefectures</p>
                    <p class="mb-4">
                        Mount Fuji, the highest mountain in the country, is a beautifully symmetrical volcano and the symbol of Japan. Climbing Mount Fuji is popular during summer with people ascending via four different trails. The Fuji Five Lakes region at the northern foot of Mount Fuji and Hakone are popular resort destinations with views of the mountain.                     </p>
                </div>
            </div>
        </div>

    </section>
    <!-- Section One End -->
</body>

</html>