<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beautiful of Japan</title>
    <link rel="icon" href="../img/title_logo.avif" type="image/x-icon" />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/interest.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Montserrat:wght@400;700&display=swap"
        rel="stylesheet" />
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" />
</head>

<body>
    <!-- Header Start -->
    <header class="header p-3 position-absolute start-0 top-0 end-0">
        <div class="d-flex fixed-top justify-content-between align-items-center px-5 navbar-expand-md"
            style="height: 100px; background-color: #101224">
            <a href="/" class="text-decoration-none text-white fs-1 fw-bold">VTOUR</a>

            <div>
                <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                        class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                    </svg>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav justify-content-between fs-5" style="width: 450px; height: 100%">
                        <li class="nav-item">
                            <a class="nav-link text-white point__nav-link" href="/"
                                style="--pointer-color: white">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white point__nav-link" href="/destinations"
                                style="--pointer-color: white">Destinations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fw-bold point__nav-link" href="/interests"
                                style="--pointer-color: white">Interests</a>
                        </li>
                        <li class="nav-item">
                            <img src="../img/vertical_line.png" alt="" style="height: 45px; width: 45px" />
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/log-out"><i
                                    class="bi bi-arrow-right-circle-fill"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Flyout Navigation Start -->
    <nav class="collapse navbar-collapse dropdown-nav" id="navbar">
        <div class="dropdown-nav__container container-xxl d-flex align-items-center">
            <div class="row align-items-start">
                <div class="col-12">
                    <a href="/" class="row text-decoration-none">
                        <h1 class="display-4 text-white">Home</h1>
                    </a>
                </div>
                <div class="col-12 mt-4">
                    <a href="/destinations" class="row text-decoration-none">
                        <h1 class="display-4 text-white">Destinations</h1>
                    </a>
                </div>
                <div class="col-12 mt-4">
                    <a href="/interests" class="row text-decoration-none">
                        <h1 class="display-4 text-white">Interests</h1>
                    </a>
                </div>
                <div class="col-12 mt-4">
                    <a href="/log-out" class="row text-decoration-none">
                        <h1 class="display-4 text-white">Sign Out</h1>
                    </a>
                </div>
            </div>

            <button class="navbar-toggler dropdown-nav__closeNavBtn" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-x"
                    viewBox="0 0 16 16">
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>
        </div>
    </nav>
    <!-- Flyout Navigation End -->

    <!-- Interests Start -->

    <div class="container-fluid" style="padding: 130px 3rem 0 3rem">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filters text-center">
                    <li class="active" data-filter="*"><a href="#!">All</a></li>
                    <li data-filter=".history-religion-museums">
                        <a href="#!">History, Religion, Museums</a>
                    </li>
                    <li data-filter=".art-tradition-culture"><a href="#!">Art, Tradition, Culture</a></li>
                    <li data-filter=".nature-outdoors"><a href="#!">Nature, Outdoors</a></li>
                </ul>

                <div class="projects">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 item history-religion-museums">
                            <a href="/temple">
                                <div class="card mb-4">
                                    <div class="image-container img-fluid w-100 rounded-3">
                                        <div class="image-container img-fluid w-100 rounded-3"
                                            style="background-image: url('../img/temple_thumbnail.png');">
                                            <div class="d-flex align-items-end h-100 w-100 border">
                                                <p class="text-white fs-2 fw-bold ps-4">Temples</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-4 col-md-4 item history-religion-museums">
                            <a href="/shrines">
                                <div class="card mb-4">
                                    <div class="image-container img-fluid w-100 rounded-3">
                                        <div class="image-container img-fluid w-100 rounded-3"
                                            style="background-image: url('../img/shrine_thumbnail.jpg');">
                                            <div class="d-flex align-items-end h-100 w-100 border">
                                                <p class="text-white fs-2 fw-bold ps-4">Shrines</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-4 col-md-4 item history-religion-museums">
                            <a href="history">
                                <div class="card mb-4">
                                    <div class="image-container img-fluid w-100 rounded-3">
                                        <div class="image-container img-fluid w-100 rounded-3"
                                            style="background-image: url('../img/history_thumbnail.jpg');">
                                            <div class="d-flex align-items-end h-100 w-100 border">
                                                <p class="text-white fs-2 fw-bold ps-4">Historic Sites</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-4 col-md-4 item history-religion-museums">
                            <a href="museums">
                                <div class="card mb-4">
                                    <div class="image-container img-fluid w-100 rounded-3">
                                        <div class="image-container img-fluid w-100 rounded-3"
                                            style="background-image: url('../img/museum_thumbnail.jpg');">
                                            <div class="d-flex align-items-end h-100 w-100 border">
                                                <p class="text-white fs-2 fw-bold ps-4">Museums</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-4 col-md-4 item art-tradition-culture">
                            <a href="/gardens">
                                <div class="card mb-4">
                                    <div class="image-container img-fluid w-100 rounded-3">
                                        <div class="image-container img-fluid w-100 rounded-3"
                                            style="background-image: url('../img/garden_thumbnail.jpg');">
                                            <div class="d-flex align-items-end h-100 w-100 border">
                                                <p class="text-white fs-2 fw-bold ps-4">Gardens</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-4 col-md-4 item art-tradition-culture">
                            <a href="festivals">
                                <div class="card mb-4">
                                    <div class="image-container img-fluid w-100 rounded-3">
                                        <div class="image-container img-fluid w-100 rounded-3"
                                            style="background-image: url('../img/festival_thumbnail.jpg');">
                                            <div class="d-flex align-items-end h-100 w-100 border">
                                                <p class="text-white fs-2 fw-bold ps-4">Festivals</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-4 col-md-4 item art-tradition-culture">
                            <a href="anime">
                                <div class="card mb-4">
                                    <div class="image-container img-fluid w-100 rounded-3">
                                        <div class="image-container img-fluid w-100 rounded-3"
                                            style="background-image: url('../img/anime_thumbnail.jpg');">
                                            <div class="d-flex align-items-end h-100 w-100 border">
                                                <p class="text-white fs-2 fw-bold ps-4">Manga and Anime</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-4 col-md-4 item nature-outdoors">
                            <a href="nature">
                                <div class="card mb-4">
                                    <div class="image-container img-fluid w-100 rounded-3">
                                        <div class="image-container img-fluid w-100 rounded-3"
                                            style="background-image: url('../img/nature_thumbnail.jpg');">
                                            <div class="d-flex align-items-end h-100 w-100 border">
                                                <p class="text-white fs-2 fw-bold ps-4">Nature</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 item nature-outdoors">
                            <a href="onsen">
                                <div class="card mb-4">
                                    <div class="image-container img-fluid w-100 rounded-3">
                                        <div class="image-container img-fluid w-100 rounded-3"
                                            style="background-image: url('../img/onsen_thumbnail.jpg');">
                                            <div class="d-flex align-items-end h-100 w-100 border">
                                                <p class="text-white fs-2 fw-bold ps-4">Onsen</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
    <script src="../js/filter.js"></script>
    <!-- Interests End -->
</body>

</html>